body {
  font-family: "Open-sans", sans-serif;
  background-color: #fd990b;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 600px;
}

form {
  background-color: antiquewhite;
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

input {
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 100%;
  border: 3px solid #f44336;
  border-radius: 94px;
  background-color: #2196f3;
  color: #e8eaed;
  text-align: center;
}

#button {
  width: 20%;
  background-color: #2196f3;
  color: white;
  padding: -3px 16px;
  margin: 8px 8px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

#button:hover {
  background-color: #bbf7ff;
  color: #f44336;
  transition: all 1s linear;
}

textarea {
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid #f44336;
  padding: 20px;
  width: 350px;
  height: 150px;
  background-color: #2196f3;
  color: #e8eaed;
}

h1,
#top {
  text-align: center;
}

.content {
  background-color: antiquewhite;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}
